body{
    font-family: 'Poppins', sans-serif;
}


/****************************************/
/******* Banner Section And Navbar ******/
/****************************************/
.hero{
    background: url("images/slide_01.jpg");
    background-size: cover;
}

.navbar-brand{
    font-size: 21px;
    padding-top: 8px;
}

.banner{
    padding-top: 174px;
    padding-left: 12px;
    padding-bottom: 400px;
}
.largeTitle{
    font-size: 27px;
    font-weight: 500;
    line-height: 33px;
    padding: 10px 0px 20px 0;
}
.bannerBody{
    font-size: 18px;
    line-height: 27px;
    padding: 0 0 20px 0;
}
.banner a{
    color: #5b98ff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    line-height: 27px;
}


/****************************/
/******* About Section ******/
/****************************/
.about .firstPart{
    background: linear-gradient(90deg, rgba(74,142,250,1) 0%, rgba(52,179,254,1) 100%);
    padding: 50px 0 40px 0;
}
/* .sectionHead{
    width: 40%;
    margin: auto;
} */
.divTitle{
    color: #5B98FF;
    font-size: 21px;
    line-height: 25px;
    font-weight: 500;
    padding: 0 0 20px 0;
}
.divBody{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    padding: 0 0 20px 0;
}
/* .spacerP-1{  
    padding: 90px 0 0 0 ;
}
.spacerM-1{ 
    padding: 50px 0 0 0 ;
}
.spacerM-2{
    padding: 100px 0 0 0 ;
}
.spacerM-3{ 
    padding: 150px 0 0 0 ;
} */
.whiteBg {
    margin: auto;
    background-color: #ffffff;
    padding: 30px 35px 45px 25px;
}
.text-blue{
    
}
.btn-primary{
    background: #4a8bfc;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    border: 0;
    padding: 10px 20px;
}


/*******************************/
/******* Services Section ******/
/*******************************/

.services1 .divBody{
    padding: 0 20px;
}
.services2, .contacts{
    background: #343434;
}
.services2 .divBody{
    color: #999999;
}


.team img{
    max-width: 200px;
    border-radius: 50%;
}
.team .divTitle{
    padding-top: 20px;
}



.package{
    background: #E8E8E8;
    padding: 25px 0px 30px 0px;
}
.packPrice{
    color: #6c757d;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    padding-bottom: 20px;
}
.green{
    color: #07b307;
}


.achivements{
    background: linear-gradient(90deg, rgba(74,142,250,1) 0%, rgba(52,179,254,1) 100%);
}
.rewardTitle{
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    padding-bottom: 20px;
}
.achivements .divBody{
    font-size: 17px;
}



.contacts .divBody{
    color: #cdcdcd;
    padding-bottom: 50px;
}


footer{
    padding: 20px 0;
    background-color: #212121;
    color: #999999;
    font-size: 14px;
}
.rightCol{
    text-align: right;
}
.fab{
    margin: 0px 10px;
}


@media only screen and (min-width: 769px) {
    .container{
        max-width: 61%;
    }
    nav li{
        padding-right: 24px !important;
    }
    .sectionHead{
        width: 40%;
        margin: auto;
    }
    .spacerP-1{  
        padding: 90px 0 0 0 ;
    }
    .spacerM-1{ 
        padding: 50px 0 0 0 ;
    }
    .spacerM-2{
        padding: 100px 0 0 0 ;
    }
    .spacerM-3{ 
        padding: 150px 0 0 0 ;
    }
    .right-border{
        padding: 20px 0;
        border-right: 1px solid rgba(255,255,255,0.07);
    }
}
@media only screen and (max-width: 768px) {
    .sectionHead{
        width: 80%;
        margin: auto;
    }
    .whiteBg{
        text-align: center;
    }
    .spacerP-1{  
        padding: 90px 0 0 0 ;
    }
    .spacerM-1{ 
        padding: 0px 0 0 0 ;
    }
    .spacerM-2{
        padding: 50px 0 0 0 ;
    }
    .spacerM-3{ 
        padding: 100px 0 0 0 ;
    }
    .secondPart{
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .contacts{
        padding: 0 20px;
    }
}
@media only screen and (max-width: 576px) {
    .borderM{
        border: 1px solid #cdcdcd;
        padding: 10px 0;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .top-border{
        padding: 20px;
        border-top: 1px solid rgba(255,255,255,0.07);
    }
}